{% extends 'admin/model/details.html' %}

{% block body %}
    <style>
        pre {
            background-color: transparent;
            border: none;

        }

        .stacktrace {
            max-height: 300px;
            overflow-y: scroll;
            cursor: pointer;
        }

        .stacktrace.expanded {
            max-height: none;
        }
    </style>
    <h3>Issue Details</h3>
    <table class="table table-hover">
        <tbody>
        <tr>
            <td>Platform:</td>
            <td><b>{{ issue.platform }}</b></td>
        </tr>
        <tr>
            <td>Version:</td>
            <td><b>{{ issue.version }}</b></td>
        </tr>
        <tr class="info">
            <td>Reason:</td>
            <td><b>{{ issue.reason }}</b></td>
        </tr>
        </tbody>
    </table>


    <h3>Stack Traces</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover model-list">
            <thead>
            <tr>
                <th>Time</th>
                <th>Stack Trace</th>
            </tr>
            </thead>
            {% for row in minidumps.items %}
                <tr>
                    <td>{{ row.get_time() }}</td>
                    <td>
                        <pre class="stacktrace" title="Click to expand/collapse">{{ row.stacktrace }}</pre>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="999">
                        {% block empty_list_message %}
                            <div class="text-center">
                                {{ admin_view.get_empty_list_message() }}
                            </div>
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {# Macro for creating navigation links #}
    {% macro render_navigation(pagination, endpoint) %}
        {% if pagination.items.__len__() >= per_page %}
            <ul class=pagination>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page != pagination.page %}
                            <li>
                                <a href="{{ url_for(endpoint, id=issue.id, page=page) }}">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="active">
                                <a href="{{ url_for(endpoint, id=issue.id, page=page) }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <span class=ellipsis>…</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
        {% endif %}

    {% endmacro %}

    {{ render_navigation(minidumps, 'issue.details_view') }}

    {% block tail %}
        {{ super() }}
        <script>
            $('.stacktrace').click(function () {
                console.log($(this));
                $(this).toggleClass('expanded');
            });
        </script>
    {% endblock %}
{% endblock %}